body {
    font-family:'\5FAE\8F6F\96C5\9ED1';
}

.home {
    height: 100%;
    background:url('../images/bg-1.jpg') no-repeat 50% 0;
    background-size:cover;
    position: relative;
    text-align: center;
}

.home h1 {
    display: inline-block;
    color:#fff;
    padding:20px;
    font-weight: normal;
    border:10px solid #fff;
    font-size: 60px;
    margin-top: 120px;
    cursor: pointer;
    margin-bottom: 50px;
}
.home h1:hover {
    border-color:#e63b67;
    color:#e63b67;
}

.home h1 a {
    color:#e63b67;
}

.home h1:hover a {
    color:#e63b67;
    text-decoration: none;
}


#home-carousel {
    background: rgba(56,62,77,0.3);
}

#home-carousel .carousel-inner {
    
}

#home-carousel .carousel-inner .item {
    height: 180px;
    line-height: 180px;
    color:#fff;
    font-size: 60px;
}

#home-carousel .carousel-inner .item span {
    color:#e63b67;
}

#home-carousel ol {
    bottom:0;
    margin-bottom: 0;
}

.menu {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
    height: 80px;
    line-height: 80px;
    top:0;
    left:0;
    background: #fff;
    padding:0 10px;
}

.menu.active {
    position: fixed;
    top:0;
    left:0;
    right:0;
}

.menu .country {
    float:left;
    height: 80px;
    line-height: 80px;
}

.menu .country a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background: url('../images/icon-english.png') no-repeat left center;
    padding-left:30px;
    color:#999;
}

.menu .country a.chinese {
    background-image: url('../images/icon-china.png');
}

.menu .country a:hover {
    color:#e63b67;
}

.menu .logo {
    display: block;
    float:left;
    text-indent: -9999px;
    background: url('../images/logo.png') no-repeat;
    width:300px;
    height: 80px;
}

.menu ul {
    margin:0;
    padding:0;
    float:right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding:0 10px;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color:#6d625e;
}

.menu li a.active {
    color:#e63b67;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: none;
    color:#e63b67;
}

.panel {
    background: none;
    box-shadow: none;
}

h2 {
    color:#fff;
    display: inline-block;
    font-size: 40px;
    border:4px solid #6d625e;
    margin:auto;
    background: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 span {
    display: block;
    border:4px solid #fff;
    padding:8px 20px;
    background: #6d625e;
}

h2.even {
    border-color:#e63b67;
}

h2.even span {
    background-color: #e63b67;
}

.main-content {
    padding-top:120px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 16px;
}

.main-content p.context {
    width:980px;
    margin:auto;
    text-align: left;
    line-height: 28px;
    margin-bottom: 20px;
}

.main-content p.context strong {
    color:#e63b67;
    font-weight: bold;
}

.main-content .panel {
    width:980px;
    margin:auto;
    border:none;
}
 
.content2 {
    background: #f5f5f5;
}

.content2 .p1 {
    padding-top: 20px;
    font-size: 20px;
    color:#999;
    margin-bottom: 20px;
}

.content2 div {
    width:980px;
    margin: auto;
}

.content2 dl {
    height: 240px;
    float:left;
    width:240px;
    margin-right: 130px;
}

.content2 dt {
    cursor: pointer;
    padding-top: 20px;
    height: 160px;    
    margin-bottom: 10px;
    background: url('../images/bg-2.png') no-repeat center;
}

.content2 dl.last {
    margin-right: 0;
}

.content2 dt span {
    display: block;
    width:96px;
    height: 96px;
    margin:0 auto 0 auto;
    background: #ccc;
    background: url('../images/icon-1.png') no-repeat;
}

.content2 .dt2  {
    background-image: url('../images/icon-2.png');
}

.content2 .dt3  {
    background-image: url('../images/icon-3.png');
}

.content3 h3 {
    margin: 0 0 20px 0;
}

.content3 ul {
    padding:20px 0;
    text-align: left;
}

.content3 li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background: url('../images/icon-li.png') no-repeat left center;
}


.content3 dl {
    float:left;
    width:200px;
    margin-right: 60px;
}

.content3 dt {
    margin-bottom: 10px;
}

.content3 dl.last {
    margin-right: 0;
}

.content3 dt span {
    display: block;
    width:128px;
    height: 128px;
    margin:auto;
    background: #ccc;
}

.content3 .dt1 {
    background: url('../images/icon-5.png');
}

.content3 .dt2 {
    background: url('../images/icon-4.png');
}

.content3 .dt3 {
    background: url('../images/icon-7.png');
}

.content3 .dt4 {
    background: url('../images/icon-6.png');
}

.content4 {
    background: #f5f5f5;
}
 

.content5 {
    height: 580px;
    background: url('../images/bg-3.jpg') no-repeat 50% 0;
    background-size: cover;
   
}

.content5 .panel {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.content5 p {
    width:90%;
    margin:10px auto;
    background: rgba(255, 255, 255, 0.8);
    padding:10px 0;
    border-radius: 5px;
    color:#e63b67;
}

.content5 .tel {
    color:#000;
    padding:20px 0;
    font-size: 40px;
}

.footer {
    text-align: center;
    padding:40px 0 120px 0;
    color:#666;
}

@media screen and (max-width:800px){
   .menu ul {
       display: none;
   }
    .menu .country {
        float:right;
    }
}


.en .menu .logo {
    background-image: url('../images/logo-en.png');
}

.en .menu li a {
    padding:0 5px;
    font-size: 14px;
}

.cn .content5.main-content {
    padding-top: 70px;
} 

.popover {
    max-width: 400px;
}

.popover div {
    width:auto;
}

.popover ul {
    margin:0;
    padding:0;
    padding-left: 15px;
}

.popover li {
    margin-bottom: 5px;
    font-size: 13px;
}