@import "../common/variables.scss";

html,body {
  height: 100%;
}

.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}


.modal {
  
  .modal-dialog {
    margin-top: 150px;
  }
  
  .modal-header {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    background: #f3f3f5;
  }
  .modal-footer {
    border-top: none;
    text-align: center;
    
    .btn {
      padding:5px 40px;
    }
    
    .btn-primary {
      background: #f57c00;
      border-color: #f57c00;
    }
    
    .btn-default {
      background: #bcbcbc;
      border-color: #bcbcbc;
      color:$color333;
    }
  }
  
  .rows {
    width: 500px;
    margin: auto;
    
    .row {
      margin-bottom: 15px;
    }
    
    .error {
      color:red;
      font-weight: normal;
    }
    
    .col-md-4 {
      text-align: right;
      padding-top: 6px;
    }

    .col-md-8 {
      select {
        min-width: 100px;
        max-width: 90%;
      }
      
      input[type="text"] {
        width: 90%;
      }
      
      textarea {
        width: 90%;
        border:1px solid #dbdcde;
        border-radius: 4px;
        color:$color666;
      }
    }
    
  }
  
}
 