
@import "../common/variables.scss";

.login-cont {
  
  background: url("../../images/login-bg.jpg") no-repeat center;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
  
  .frame {
    width: 440px;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -220px;
    margin-top: -150px;
    padding: 30px 60px;
    @include boxShadow(2px 2px 5px rgba(0,0,0,0.5));
    
    .input-group {
      margin-bottom: 30px;
      width: 100%;
    }
    
    label.error {
     position: absolute;
      left:10px;
      top:40px;
      font-weight: normal;
      color:red;
    }

    .input-group-addon {
      background: none;
      padding:0 20px;
      border-top: none;
      border-left:none;
      border-right: none;
      border-radius: 0;
      box-shadow: none;
    }

    .form-control {
      padding-left: 34px;
      border-top: none;
      border-left: none;
      border-right: none;
      box-shadow: none;
      border-radius: 0;
    }

    .username {
      .form-control {
        background: url("../../images/_sprite/icon-login-user.png?__sprite") no-repeat left center;
      }
    }

    .password {
      .form-control {
        background: url("../../images/_sprite/icon-login-pwd.png?__sprite") no-repeat left center;
      }
    }
    
    .savepassword {
      margin-bottom: 20px;
      padding-right: 20px;
      label {
        font-weight: normal;
      }
      input {
        margin-left: 15px;
        margin-right: 10px;
      }
    }
    
    .btn-group {
      width: 100%;
      display: block;
      .btn {
        width: 100%;
        background:#006da2;
        border-color: #006da2;
        color:#fff;
        height: 40px;
      }
    }
    
    
    
  }
  
  .copyright {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom:20px;
    color:#fff;
    i {
      padding-left:15px;
      margin:0 10px;
      background: url("../../images/_sprite/icon-copyright.png?__sprite") no-repeat center;
    }
  }

  
  
  
}