html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-size: 14px;
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
img {
    border: 0;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

html,body {
    height: 100%;
}

body {
    max-width: 640px;
}

.container {
    width: 100%;
}   

section.top {
    padding-top:15%;
    padding-bottom: 45px;
    background: #f4605a url("../images/bg-top.png") no-repeat;
    background-size: contain;
}

section.top img {
    width: 80%;
    margin:0 auto 15%;
    display: block;
}

section.top p {
    margin: auto;
    width: 90%;
    color:#fff;
}

section.top p strong {
    color: #fff002;
}

section.bottom {
    background:#4b1a4e url("../images/bg-bottom.png") no-repeat;
    background-size: contain;
    padding-bottom: 40px;
}

section.bottom a {
    font-size: 16px;
    background: #fff002;
    color:#f4605a;
    display: block;
    width:78%;
    margin:0 auto 45%;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-touch-callout:behavior;
}

section.bottom p {
    color:#fff;
    margin: auto;
    width: 90%;
    line-height: 20px;
}